[submodule "modules/foundation/core"]
	path = module/foundation/core
	url = https://github.com/IlleNilsson/xmip-core.git
	ignore = dirty
[submodule "modules/foundation/abi"]
	path = module/foundation/abi
	url = https://github.com/IlleNilsson/xmip-core-abi.git
	ignore = dirty
[submodule "modules/operations/archive"]
	path = module/core/operation/archive
	url = https://github.com/IlleNilsson/xmip-core-archive.git
	ignore = dirty
[submodule "modules/capabilities/assign"]
	path = module/core/capability/assign
	url = https://github.com/IlleNilsson/xmip-core-assign.git
	ignore = dirty
[submodule "modules/operations/audit"]
	path = module/core/operation/audit
	url = https://github.com/IlleNilsson/xmip-core-audit.git
	ignore = dirty
[submodule "modules/capabilities/authenticate"]
	path = module/core/capability/authenticate
	url = https://github.com/IlleNilsson/xmip-core-authenticate.git
	ignore = dirty
[submodule "modules/capabilities/authorize"]
	path = module/core/capability/authorize
	url = https://github.com/IlleNilsson/xmip-core-authorize.git
	ignore = dirty
[submodule "module/core/operation/cli"]
	path = module/core/operation/cli
	url = https://github.com/IlleNilsson/xmip-core-cli.git
	ignore = dirty
[submodule "modules/foundation/cluster"]
	path = module/foundation/cluster
	url = https://github.com/IlleNilsson/xmip-core-cluster.git
	ignore = dirty
[submodule "modules/platform/configure"]
	path = module/platform/configure
	url = https://github.com/IlleNilsson/xmip-core-configure.git
	ignore = dirty
[submodule "modules/foundation/context"]
	path = module/foundation/context
	url = https://github.com/IlleNilsson/xmip-core-context.git
	ignore = dirty
[submodule "module/core/capability/contract"]
	path = module/core/capability/contract
	url = https://github.com/IlleNilsson/xmip-core-contract.git
	ignore = dirty
[submodule "modules/capabilities/demote"]
	path = module/core/capability/demote
	url = https://github.com/IlleNilsson/xmip-core-demote.git
	ignore = dirty
[submodule "modules/foundation/event"]
	path = module/foundation/event
	url = https://github.com/IlleNilsson/xmip-core-event.git
	ignore = dirty
[submodule "module/core/operation/gui"]
	path = module/core/operation/gui
	url = https://github.com/IlleNilsson/xmip-core-gui.git
	ignore = dirty
[submodule "modules/capabilities/identify"]
	path = module/core/capability/identify
	url = https://github.com/IlleNilsson/xmip-core-identify.git
	ignore = dirty
[submodule "modules/foundation/journey"]
	path = module/foundation/journey
	url = https://github.com/IlleNilsson/xmip-core-journey.git
	ignore = dirty
[submodule "modules/capabilities/logic"]
	path = module/core/capability/logic
	url = https://github.com/IlleNilsson/xmip-core-logic.git
	ignore = dirty
[submodule "modules/foundation/message"]
	path = module/foundation/message
	url = https://github.com/IlleNilsson/xmip-core-message.git
	ignore = dirty
[submodule "modules/foundation/node"]
	path = module/foundation/node
	url = https://github.com/IlleNilsson/xmip-core-node.git
	ignore = dirty
[submodule "modules/operations/observe"]
	path = module/core/operation/observe
	url = https://github.com/IlleNilsson/xmip-core-observe.git
	ignore = dirty
[submodule "modules/foundation/party"]
	path = module/foundation/party
	url = https://github.com/IlleNilsson/xmip-core-party.git
	ignore = dirty
[submodule "modules/capabilities/path"]
	path = module/core/capability/path
	url = https://github.com/IlleNilsson/xmip-core-path.git
	ignore = dirty
[submodule "modules/platform/persist"]
	path = module/platform/persist
	url = https://github.com/IlleNilsson/xmip-core-persist.git
	ignore = dirty
[submodule "modules/operations/powershell"]
	path = module/core/operation/powershell
	url = https://github.com/IlleNilsson/xmip-core-powershell.git
	ignore = dirty
[submodule "modules/capabilities/prepare"]
	path = module/core/capability/prepare
	url = https://github.com/IlleNilsson/xmip-core-prepare.git
	ignore = dirty
[submodule "modules/capabilities/process"]
	path = module/core/capability/process
	url = https://github.com/IlleNilsson/xmip-core-process.git
	ignore = dirty
[submodule "modules/capabilities/promote"]
	path = module/core/capability/promote
	url = https://github.com/IlleNilsson/xmip-core-promote.git
	ignore = dirty
[submodule "modules/capabilities/receive"]
	path = module/core/capability/receive
	url = https://github.com/IlleNilsson/xmip-core-receive.git
	ignore = dirty
[submodule "modules/operations/report"]
	path = module/core/operation/report
	url = https://github.com/IlleNilsson/xmip-core-report.git
	ignore = dirty
[submodule "modules/platform/resilience"]
	path = module/core/capability/resilience
	url = https://github.com/IlleNilsson/xmip-core-resilience.git
	ignore = dirty
[submodule "modules/capabilities/retain"]
	path = module/core/capability/retain
	url = https://github.com/IlleNilsson/xmip-core-retain.git
	ignore = dirty
[submodule "modules/capabilities/route"]
	path = module/core/capability/route
	url = https://github.com/IlleNilsson/xmip-core-route.git
	ignore = dirty
[submodule "modules/platform/runtime"]
	path = module/platform/runtime
	url = https://github.com/IlleNilsson/xmip-core-runtime.git
	ignore = dirty
[submodule "modules/capabilities/send"]
	path = module/core/capability/send
	url = https://github.com/IlleNilsson/xmip-core-send.git
	ignore = dirty
[submodule "modules/foundation/stream"]
	path = module/foundation/stream
	url = https://github.com/IlleNilsson/xmip-core-stream.git
	ignore = dirty
[submodule "modules/capabilities/transform"]
	path = module/core/capability/transform
	url = https://github.com/IlleNilsson/xmip-core-transform.git
	ignore = dirty
[submodule "modules/capabilities/transport"]
	path = module/core/capability/transport
	url = https://github.com/IlleNilsson/xmip-core-transport.git
	ignore = dirty
[submodule "template/rust"]
	path = template/rust
	url = https://github.com/IlleNilsson/xmip-template-rust.git
	ignore = dirty
[submodule "template/dotnet"]
	path = template/dotnet
	url = https://github.com/IlleNilsson/xmip-template-dotnet.git
	ignore = dirty
[submodule "test/core/playground"]
	path = test/core/playground
	url = https://github.com/IlleNilsson/xmip-core-test-playground
	ignore = dirty
[submodule "module/core/library/asn1"]
	path = module/core/library/asn1
	url = https://github.com/IlleNilsson/xmip-core-library-asn1.git
[submodule "module/core/library/codec"]
	path = module/core/library/codec
	url = https://github.com/IlleNilsson/xmip-core-library-codec.git
[submodule "module/core/library/net"]
	path = module/core/library/net
	url = https://github.com/IlleNilsson/xmip-core-library-net.git
[submodule "module/core/library/tls"]
	path = module/core/library/tls
	url = https://github.com/IlleNilsson/xmip-core-library-tls.git
